:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
body {
  margin: auto;
  color:#fff;
  background-color: #131315;
  padding:10px;
  max-width: 1200px;
  min-height: 100vh;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: inherit;
  color: inherit;
}
